﻿<h1>Section</h1>
@(Html.Kendo().Grid<AliveQuestionnaireManager.Models.SectionViewModel>()    
    .Name("Grid")
    .Columns(columns => {
        columns.Bound(p => p.id).Groupable(false).Width(140);
        columns.Bound(p => p.sectionTitle).ClientTemplate("<div><div style='float:left;'><a href='/SectionCell?id=#=id#'>#=sectionTitle# </a></div></div>")
.Title("Section");
        columns.Bound(p => p.image).Title("Image");
        columns.Bound(p => p.sectionHidden).Title("Hidden");
        columns.Bound(p => p.sectionArray).Title("Array");
        columns.Bound(p => p.moveToTop).Title("Move to Top");
        columns.Bound(p => p.valueAutomatic).Title("Automatic");
        columns.Bound(p => p.valueIsGPSLocation).Title("GPS Location");
        columns.Bound(p => p.moveToTop).Title("Move to Top");
        columns.Bound(p => p.recreateSection).Title("Recreate Section");
        columns.Bound(p => p.showTableFooter).Title("Show Footer");
        columns.Bound(p => p.valueName).Title("Value Name");
        columns.Bound(p => p.arrayName).Title("Array Name");
        columns.Bound(p => p.valueChangeObject).ClientTemplate("#=valueChangeObject.name#").EditorTemplateName("SelectValueChange").Title("On Change");
        columns.Bound(p => p.arrayDefaultCount).ClientTemplate("<div><div style='float:left;'><a href='/SectionArrayDefault?id=#=id#'>Defaults(#=arrayDefaultCount#) </a></div></div>")
.Title("Array Defaults");
        columns.Command(command => { command.Edit().Text(" ").UpdateText(" ").CancelText(" "); command.Destroy().Text(" "); }).Title(" ").Width(100);
  

    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .Pageable()
    .Scrollable() 
    .DataSource(dataSource => dataSource
        .Ajax()
         .Model(model =>
             {
                 model.Id(p => p.id);
             })
        .Read(read => read.Action("Read", "Section", new { segmentId = ViewBag.segmentId }))
        .Create(create => create.Action("Editing_Create", "Section", new { segmentId = ViewBag.segmentId }))
        .Update(update => update.Action("Editing_Update", "Section"))
        .Destroy(destroy => destroy.Action("Editing_Destroy", "Section"))
     )
)
  <script type="text/javascript">
       $(document).ready(function () {
           $("#Grid").data("kendoGrid").dataSource
        .reader.model.prototype.defaults.valueChangeObject = { id: 0, name: "" };
       });
      
 </script>