﻿<h1>Section Cell</h1>
@(Html.Kendo().Grid<AliveQuestionnaireManager.Models.SectionCellViewModel>()  
  
    .Name("Grid")
    .Columns(columns => {
        columns.Bound(p => p.id).Groupable(false).Width(140);
        columns.Bound(p => p.valueName).Title("Name");
        columns.Bound(p => p.valueRequired).Title("Required");
        columns.Bound(p => p.valueChangeObject).ClientTemplate("#=valueChangeObject.name#").EditorTemplateName("SelectValueChange").Title("On Change");
        columns.Bound(p => p.textLabel).Title("Label");
        columns.Bound(p => p.RadioCount).ClientTemplate("<div><div style='float:left;'><a href='/SectionCellRadio?id=#=id#'>Radio(#=RadioCount#) </a></div></div>")
.Title("Radio Value");
        columns.Bound(p => p.image).Title("Image");
        columns.Bound(p => p.keyboardTypeObject).ClientTemplate("#=keyboardTypeObject.name#").EditorTemplateName("SelectKeyboardType").Title("Keyboard Type");
        columns.Bound(p => p.cellTypeObject).ClientTemplate("#=cellTypeObject.name#").EditorTemplateName("SelectCellType").Title("Cell Type");
      

        columns.Command(command => { command.Edit().Text(" ").UpdateText(" ").CancelText(" "); command.Destroy().Text(" "); }).Title(" ").Width(100);
  

    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .Pageable()
    .Scrollable() 
    .DataSource(dataSource => dataSource
        .Ajax()
         .Model(model =>
             {
                 model.Id(p => p.id);
             })
        .Read(read => read.Action("Read", "SectionCell", new { sectionId = ViewBag.sectionId }))
        .Create(create => create.Action("Editing_Create", "SectionCell", new { sectionId = ViewBag.sectionId }))
        .Update(update => update.Action("Editing_Update", "SectionCell"))
        .Destroy(destroy => destroy.Action("Editing_Destroy", "SectionCell"))
     )
)

  <script type="text/javascript">
       $(document).ready(function () {
           $("#Grid").data("kendoGrid").dataSource
           .reader.model.prototype.defaults.keyboardTypeObject = { id: 0, name: "" };
           $("#Grid").data("kendoGrid").dataSource
          .reader.model.prototype.defaults.cellTypeObject = { id: 0, name: "" };
           $("#Grid").data("kendoGrid").dataSource
        .reader.model.prototype.defaults.valueChangeObject = { id: 0, name: "" };
       });
      
 </script>