﻿<h1>Array Default Values</h1>
@(Html.Kendo().Grid<AliveQuestionnaireManager.Models.SectionCellRadioViewModel>()    
    .Name("Grid")
    .Columns(columns => {
        columns.Bound(p => p.id).Groupable(false).Width(140);
        columns.Bound(p => p.name);
      

        columns.Command(command => { command.Edit().Text(" ").UpdateText(" ").CancelText(" "); command.Destroy().Text(" "); }).Title(" ").Width(100);
  

    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .Pageable()
    .Scrollable() 
    .DataSource(dataSource => dataSource
        .Ajax()
         .Model(model =>
             {
                 model.Id(p => p.id);
             })
        .Read(read => read.Action("Read", "SectionArrayDefault", new { sectionId = ViewBag.sectionId }))
        .Create(create => create.Action("Editing_Create", "SectionArrayDefault", new { sectionId = ViewBag.sectionId }))
        .Update(update => update.Action("Editing_Update", "SectionArrayDefault"))
        .Destroy(destroy => destroy.Action("Editing_Destroy", "SectionArrayDefault"))
     )
)