﻿<h1>Questionnaire</h1>
@(Html.Kendo().Grid<AliveQuestionnaireManager.Models.QuestionnaireViewModel>()    
    .Name("Grid")
    .Columns(columns => {
        columns.Bound(p => p.id);
        columns.Bound(p => p.Name).ClientTemplate("<div><div style='float:left;'><a href='/Segment?id=#=id#'>#=Name# </a></div></div>")
  .Title("Questionnaire");
        columns.Command(command => { command.Edit().Text(" ").UpdateText(" ").CancelText(" "); command.Destroy().Text(" "); }).Title(" ").Width(100);
  

    })
    .ToolBar(toolbar => toolbar.Create())
    .Editable(editable => editable.Mode(GridEditMode.InLine))
    .Pageable()
    .Scrollable() 
    .DataSource(dataSource => dataSource
        .Ajax()
         .Model(model =>
             {
                 model.Id(p => p.id);
             })
        .Read(read => read.Action("Read", "Home"))
        .Create(create => create.Action("Editing_Create", "Home"))
        .Update(update => update.Action("Editing_Update", "Home"))
        .Destroy(destroy => destroy.Action("Editing_Destroy", "Home"))
     )
)