﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <!-- The 1140px Grid -->
		<link rel="stylesheet" href="../../_layout/1140.css" type="text/css" media="screen" />
		
			<link rel="stylesheet" href="../../_layout/styles.css" type="text/css" media="screen" />
	
		
		<link rel='stylesheet' href='../../_themes/default.css' type='text/css' media='screen' />

         <link rel="stylesheet" href="@Url.Content("~/Content/web/kendo.common.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/web/kendo.rtl.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/Content/web/kendo.default.min.css")">
   
    <script src="@Url.Content("~/Scripts/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.web.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/console.min.js")"></script>
    <script src="@Url.Content("~/Scripts/prettify.min.js")"></script>
        @* Include the JavaScript for the current culture *@

@{
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture.ToString();
}

    <script src="@Url.Content("~/Scripts/cultures/kendo.culture." + culture + ".min.js")"></script>

@* Set the current culture *@

    <script>
        kendo.culture("@culture");
    </script>

        <meta name="viewport" content="width=device-width" />
    </head>
 <body class="texture">
       	<div id="header-wrapper" class="container" style="height: 36px;">
		<div id="user-account" class="row" >
			<div class="threecol"> <span>Welcome to the ALive Questionnaire Manager v1.0</span> </div>
		
            </div>
               </div>
        <div id="body">
            @RenderSection("loginForm", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Alive Mobile</p>
                </div>
            </div>
        </footer>


    </body>
</html>
