﻿@model AliveQuestionnaireManager.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}


<section id="loginForm">
     <div class="logocontainer">
		<div class="row">
			<div class="login-details" style="margin-top:100px;">
                    <img src="../../Images/companyLogo.png" />
                </div>
				<div class="panel-wrapper panel-login">
					 <div class="title">
							<h4>User Login</h4>
							</div>
     <div class="panel">
  <div class="content">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="editor-field">
              
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
        </div>      
        <div class="editor-field">
          @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
    <div class="editor-field">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
        </div>
        <div style="float:left;">
                    <input type="submit" value="Sign in" class="button-blue" />
               </div>
     


}
      </div>
         </div>
                        	</div>
					</div>
					
					<div class="shadow"></div>
				</div>
				
				<div class="login-details">
                    <img src="../../Images/createdbyalive.png" />
                </div>
\
</section>



